Footer {
    display: flex;
    justify-content: flex-end;
    width: 100vw;

    background-color: rgba(46, 154, 216, 0.295);
    margin-top: 2em;
}

Footer p {
    padding-right: 2em;
}

Footer a {
    color: rgb(255, 0, 106);

    &:hover {
        color: rgb(255, 134, 184);
    }
}
